/*Estilos da Pagina index.html*/
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}




/*Criar Flex Box*/
body{
  background-color: #f7aa02;
}

.container {
    display: flex;
    flex-flow:row;
    justify-content: center;
    background-color: #b0b0ae;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
  }

  .container2{
    display: flex;
    flex-flow:row;
    justify-content: center;
    background-color: #f7aa02;
    margin: 20px;
    padding: 20px;
    font-size: 22px;
    border: 2px solid black;

  }
  

  #menu li{
    display:inline;
    padding: 30px;
    
  }
  #menu li a{
    text-decoration: none;
    color:rgb(17, 16, 16);
    font-size: 30px;
    opacity: 80%;
  }
  #menu li a:hover{
    color:rgb(239, 73, 35);
    opacity: 100%;                               
  }
  .p-30{
    padding: 30px;
  }
  .br-50{
    border-radius: 50%;
  }
  .wh-300{
    width: 300px;
    height: 300px;
  } 
  .tm-social{
    width: 50px;
    height: 50px;
  }
  .mb-50{
    margin-bottom: 50px;
  }
  .ml-50,.form{
    margin-left: 50px;
    width: 100%;
    
  }
  .camposform{
    padding: 5%;

  }

  
